<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LUC_eSupportCompare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <param name="File"/>
      <file type="log4net.Util.PatternString" value="%property{LogName}"/>
      <rollingStyle value="Date"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="numlevel"/>
          <type value="LUC_eSupportCompare.NumericLevelPatternConverter"/>
        </converter>
        <converter>
          <name value="utcoffset"/>
          <type value="LUC_eSupportCompare.UTCOffsetPatternConverter"/>
        </converter>
        <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}%utcoffset&quot; date=&quot;%date{MM-dd-yyyy}&quot;component=&quot;LUC_eSupportCompare&quot; context=&quot;&quot; type=&quot;%numlevel&quot; thread=&quot;%thread&quot; file=&quot;%file:%line&quot;&gt; %newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <LUC_eSupportCompare.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>LUC_eSupport_Compare</value>
            </setting>
            <setting name="ThinkPad" serializeAs="String">
                <value>ThinkPad</value>
            </setting>
            <setting name="ThinkStation" serializeAs="String">
                <value>ThinkStation</value>
            </setting>
            <setting name="ThinkCentre" serializeAs="String">
                <value>ThinkCentre</value>
            </setting>
            <setting name="IdeaPad" serializeAs="String">
                <value>IdeaPad</value>
            </setting>
            <setting name="Win10" serializeAs="String">
                <value>Win10</value>
            </setting>
            <setting name="Win7" serializeAs="String">
                <value>Win7</value>
            </setting>
            <setting name="LucFolder" serializeAs="String">
                <value>luc</value>
            </setting>
            <setting name="LucCab" serializeAs="String">
                <value>luc.cab</value>
            </setting>
            <setting name="ExeFolder" serializeAs="String">
                <value>exes</value>
            </setting>
            <setting name="CatalogName" serializeAs="String">
                <value>LenovoUpdatesCatalog2v2.xml</value>
            </setting>
            <setting name="Win11" serializeAs="String">
                <value>Win11</value>
            </setting>
        </LUC_eSupportCompare.Properties.Settings>
    </applicationSettings>
</configuration>
